<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.yzjlb.capprunner">


    <!--包名 最大支持20个字符 应用名25 -->
    <application android:icon="@drawable/icon"
        android:label="手机C运行器 手机C语言，安卓手机上的应用制作神器"
        android:name="com.xl.XLApplication"

        >
        <activity android:name="com.xl.runC.ofToApk1.LoadActivity"
            android:configChanges="orientation|keyboardHidden"

            android:launchMode="singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.xl.runC.ofToApk1.runActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            >

        </activity>

        <activity android:name="com.xl.runC.ofToApk1.tccRunActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            >

        </activity>







        <activity android:name="com.xl.runC.ofToApk1.FileListView"

            >
        </activity>

        <!-- 适配全面屏 -->
        <meta-data android:name="android.max_aspect" android:value="2.1"/>

<!--        <provider-->
<!--            android:name="com.xl.game.tool.FileProvider"-->
<!--            android:authorities="com.xl.runC.ofToApk1.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/apk_paths" />-->
<!--        </provider>-->
    </application>

    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />


    <!-- 写文件 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">

    </uses-permission>

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_APN_SETTINGS" />
    <!-- 接收短信权限 -->

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- 统计 -->



    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <!-- 创建桌面快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

</manifest>